import datetime
while True:
    a = (input('\nEnter your name: '))
    print('Enter date of birth: ')
    b = int(input('Date(dd): '))
    c = int(input('Month(mm): '))
    d = int(input('Year(yyyy): '))
    # today
    today = datetime.datetime.today()
    tod_d = today.day
    tod_mon = today.month
    tod_yr = today.year
    # birthday
    birthday = datetime.date(d, c, b)
    bir_d = birthday.day
    bir_mon = birthday.month
    bir_yr = birthday.year
    # calculations
    if bir_mon == tod_mon:
        if bir_d == tod_d:
            # bir_d(8)>tod_day(8)
            no_yr = tod_yr - bir_yr
            no_mon = 0
            no_d = 0
            print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
            continue
        elif bir_d > tod_d:
            # bir_d(11)>tod_day(8)
            no_yr = tod_yr - bir_yr - 1
            no_mon = 11
            if bir_mon == 4 or bir_mon == 6 or bir_mon == 9 or bir_mon == 11 or bir_mon == 2 or bir_mon == 1 or bir_mon == 8:
                no_d = 31 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
            elif bir_mon == 5 or bir_mon == 7 or bir_mon == 10 or bir_mon == 12:
                no_d = 30 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
        elif bir_d < tod_d:
            # bir_d(08)<tod_d(11)
            no_yr = tod_yr - bir_yr
            no_mon = 0
            no_d = tod_d - bir_d
            print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
            continue
    elif bir_mon > tod_mon:
        # bir_mon(12)>tod_mon(11)
        no_yr = tod_yr - bir_yr - 1
        if bir_d == tod_d:
            no_mon = 12 - (bir_mon - tod_mon)
            no_d = 0
            print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
            continue
        elif bir_d < tod_d:
            no_mon = 12 - (bir_mon - tod_mon)
            no_d = tod_d - bir_d
            print('You are', no_yr, 'years', no_mon, 'months', no_d, 'days old.')
            continue
        elif bir_d > tod_d:
            no_mon = (12 - (bir_mon - tod_mon)) - 1
            if tod_mon == 4 or tod_mon == 6 or tod_mon == 9 or tod_mon == 11 or tod_mon == 2 or tod_mon == 1 or tod_mon == 8:
                no_d = 31 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
            elif tod_mon == 3:
                no_d = 28 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
            elif tod_mon == 5 or tod_mon == 7 or tod_mon == 10 or tod_mon == 12:
                no_d = 30 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
    elif bir_mon < tod_mon:
        # bir_mon(10)<tod_mon(11)
        no_yr = tod_yr - bir_yr
        if bir_d == tod_d:
            no_mon = tod_mon - bir_mon
            no_d = 0
            print('Your are', no_yr, 'years', no_mon, 'months', no_d, 'days old.')
            continue
        elif bir_d < tod_d:
            no_mon = tod_mon - bir_mon
            no_d = tod_d - bir_d
            print('You are', no_yr, 'years', no_mon, 'months', no_d, 'days old.')
            continue
        elif bir_d > tod_d:
            no_mon = tod_mon - bir_mon - 1
            if tod_mon == 4 or tod_mon == 6 or tod_mon == 9 or tod_mon == 11 or tod_mon == 2 or tod_mon == 1 or tod_mon == 8:
                no_d = 31 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
            elif tod_mon == 3:
                no_d = 28 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
            elif tod_mon == 5 or tod_mon == 7 or tod_mon == 10 or tod_mon == 12:
                no_d = 30 - (bir_d - tod_d)
                print('You are', no_yr, 'years', no_mon, 'month', no_d, 'days old.')
                continue
# ©                
